<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
<head th:insert="fragments/general.html :: encabezado">
    <meta charset="UTF-8">
    <title>Ingreso</title>
</head>
<body>
<div th:insert="fragments/general.html :: navegacion"></div>
<main class="d-flex flex-column mt-0">
    <header class="text-black p-0" style="Background-color: #FFDEB8;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <brands>
                        <img class="rounded mx-auto d-block" th:src="@{/logo.jpg}" th:alt="logo" style="width: 150px">
                    </brands>
                </div>

                <div class="col-md-8">
                    <h1 class="mb-0">Registrar Ingreso</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
                 th:text="${mensaje}"
                 class="alert" role="alert">
            </div>
        </div>
        <div class="container mt-5">
            <div class="contact__wrapper shadow-lg mt-n9 pt-10">
                    <form method="post" action="/ingreso">
                        <div class="row">
                            <div class="form-group row">
                                <div class="col m-3">
                                    <label for="select1" class="col-sm-3 col-form-label">Empleado: </label>
                                    <div class="col">
                                        <select class="form-select" id="select1" name="dui">
                                            <option value="0">Seleccione un empleado</option>
                                            <option  th:each="empleado : ${empleados}" th:value="${empleado.getDui()}" th:text="${empleado.getNombres() + ' ' + empleado.getApellidos()}">1</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col m-3">
                                    <label for="texto" class="col-sm-3 col-form-label">Descripción: </label>
                                    <div class="col">
                                        <input type="text" class="form-control" id="texto" name="descripcion">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col m-3">
                                    <label for="monto" class="col-sm-3 col-form-label">Monto: </label>
                                    <div class="col">
                                        <input type="text" class="form-control" id="monto" name="monto">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col m-3">
                                    <button type="submit" class="btn btn-warning mb-3">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>

</main>


<div th:insert="fragments/general.html :: pieDePagina"></div>
<div th:insert="fragments/general.html :: scripts"></div>
</body>
</html>